* {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ED1B24;
    color: white;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.logo {
    max-height: 15vh;
}

.body-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -20px;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    padding: 10px 10vw 40px 10vw;
}

.input {
    color: #a3161d;
    font-size: .8rem;
    min-width: 190px;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 4px;
    min-height: 4vh;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    stroke: none;
    border: #94141A;
    max-width: 80vw;
}

.input:focus {
    outline: none;
    border: solid #F80000;
    border-radius: 4px;
}

.btn {
    padding: 8px;
    border-radius: 8px;
    stroke: none;
    width: 90px;
    margin-left: 5px;
    margin-top: 10px;
    color: #94141A;
    border: #F80000;
    font-family: inherit;
    font-weight: bold;
    transition: ease-in .5s;
}

.btn:hover {
    background-color: #F80000;
    color: white;
}

.faces-area {
    display: inline;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    margin-top: -10px;
}

.faces-area svg {
    min-width: 20vw;
    min-height: 20vh;
    padding: 10px;
    opacity: .5;
    transition: ease-in 1s;
}

.faces-area svg:hover {
    opacity: 1;
}

.rating-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.rating-images p{
    font-size: .6rem;
    font-weight: 200;
    margin-top: -8px;
    opacity: .9;
}

.input-area{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
